@use '../../../styles/constants';

.container {
    position: relative;
    height: 53px;
    width: 53px;
    max-width: 53px;
    max-height: 53px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1px;
}

.container:last-of-type {
    margin-right: 0;
}

.container:first-of-type {
    margin-left: 0;
}

.iconImage {
    flex-grow: 0;
}

.backgroundImage {
    z-index: 1;
}

.iconImage, .backgroundImage {
    border-radius: constants.$standardBorderRadius;
    cursor: pointer;
}